html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.settings-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A2829;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    color: white;
}

.settings-container {
    background: #2A2829;
    padding: 2.5rem;
    border-radius: 16px;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.settings-container h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #F0EBE5;
}

.icon-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-item {
    background-color: #263A99;
    color: #F0EBE5;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 0 15px; /* Añade espacio entre los elementos */
}

.icon-item:hover {
    background-color: #97B4DE;
}

.icon-circle {
    background-color: #DCD0BE;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #263A99;
}

.icon-item span {
    font-size: 20px;
    font-weight: 600;
}

.logout-button {
    background-color: #ff0000;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe el 100% del contenedor */
    font-size: 17px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Añade espacio superior para separar el botón de las casillas */
}

.logout-button:hover {
    background-color: #9b0000;
}
