/* Contenedor del componente de búsqueda */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  margin-top: 5px;
  max-width: 800px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

/* Contenedor del encabezado de búsqueda */
.search-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Entrada de búsqueda */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px;
}

.search-input::placeholder {
  color: #999;
}

/* Botón de búsqueda */
.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Lista de resultados */
.search-results {
  list-style-type: none;
  padding: 0;
  width: 50%;
  max-width: 500px;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li span {
  font-weight: bold;
  color: #333;
}

/* Sección del vendedor */
.vendedor-section {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* Imagen del vendedor */
.vendedor-image {
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 20px;
}

/* Descripción del vendedor */
.vendedor-description {
  max-width: 300px;
}

.vendedor-description p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
