/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.main-page {
    display: flex;
    flex-direction: column;
    background: #121212; /* Modo oscuro */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ffffff; /* Texto claro */
}

/* Header */
.header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.header img {
    width: 24px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-left: 20px;
}

.header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.settings-button {
    background-color: transparent; /* Fondo transparente */
    padding: 10px; /* Espacio alrededor del ícono */
    border: none; /* Elimina el borde */
    cursor: pointer;
    display: flex; /* Alinea el ícono */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.settings-button img {
    width: 20px;
    height: auto;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-right: 40px;
}


/* Main container */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 40px;
}

.main-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

/* Contenedor principal */
.selectors {
    width: 100%;
    max-width: 800px; /* Ajustamos para más espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Section Wrapper */
.section-wrapper {
    width: 100%;
}

.section-body {
    background: #1f1f1f;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineamos todo a la izquierda */

}

.section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alineación a la izquierda */
    gap: 10px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 20px; /* Si ya tiene padding, lo mantenemos */
}


.section-header img {
    width: 22px;
    height: auto;

}

/* Selectors styling */
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333333;
    background: #2b2b2b;
    color: #ffffff;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Location Cards */
.location-cards {
    display: flex;
    gap: 10px; /* Más espacio entre las tarjetas */
    justify-content: space-around; /* Distribuye el espacio sobrante */
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.location-card {
    flex: 1; /* Ocupa todo el espacio disponible equitativamente */
    height: 80px; /* Aumentamos un poco la altura */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    background-color: #2b2b2b;
    min-width: 180px; /* Mayor anchura mínima */
}

.location-card.selected {
    box-shadow: inset 0 0 0 2px #fff;
}

/* Salary Slider */
.salary-slider {
    width: 100%;
    height: 8px;
    background: #333333;
    border-radius: 4px;
    appearance: none;
}

.salary-slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
}

.salary-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #007aff;
}

/* Button */
button.search-button {
    padding: 12px 20px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    cursor: pointer;
    width: 100%;
}

button.search-button:hover {
    background-color: #005bb5;
}

.result-button {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    background: linear-gradient(90deg, #121212, #2b2b2b, #333333);
    background-size: 300% 100%;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-position 5s linear;
    animation: energia-rebote 5s linear infinite; /* Loop rebote */
    box-shadow: 0 0px 2px rgba(255, 255, 255, 0.75); /* Efecto de "energía" en el borde */
    margin-top: 10px;

}

.result-button:hover {
    background-position: 100% 0;
}

@keyframes energia-rebote {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }

}
